<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
	<meta charset="UTF-8"/>
	<style type="text/css">
		body {
			font-family: sans-serif;
			background-color: blue;
			color: black;
		}
	</style>
</head>
<body>
	<h1>Login Please</h1>
	<form action="/login" method="POST">
		<input type="text" name="user" placeholder="User" autofocus="">
		<input type="password" name="pass" placeholder="Pass">
		<input type="submit" value=" Sign in">
	</form>
	<p>
		{{ msg }}
	</p>

</body>
</html>